4week/node-red/flow.json
[
    {
        "id": "tab_sensor",
        "type": "tab",
        "label": "Sensor Dashboard",
        "disabled": false,
        "info": "실시간 센서 데이터 모니터링 - MySQL → Node-RED → Dashboard"
    },
    {
        "id": "inject_timer",
        "type": "inject",
        "z": "tab_sensor",
        "name": "2초 주기",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [["mysql_query"]]
    },
    {
        "id": "mysql_query",
        "type": "mysql",
        "z": "tab_sensor",
        "mydb": "mysql_config",
        "name": "sensor_db 조회",
        "x": 320,
        "y": 100,
        "wires": [["split_sensors", "debug_raw"]]
    },
    {
        "id": "debug_raw",
        "type": "debug",
        "z": "tab_sensor",
        "name": "Raw 데이터",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "split_sensors",
        "type": "function",
        "z": "tab_sensor",
        "name": "센서별 분리",
        "func": "// 최신 1건씩 각 센서 데이터 추출\nconst rows = msg.payload;\nif (!rows || rows.length === 0) return null;\n\nconst sensors = {};\nrows.forEach(r => {\n    if (!sensors[r.sensor_id]) sensors[r.sensor_id] = r;\n});\n\nconst out = [];\nObject.values(sensors).forEach(r => {\n    out.push([\n        { topic: r.sensor_id + '/temperature', payload: parseFloat(r.temperature) },\n        { topic: r.sensor_id + '/humidity',    payload: parseFloat(r.humidity) },\n        { topic: r.sensor_id + '/pressure',    payload: parseFloat(r.pressure) }\n    ]);\n});\nreturn out.flat().map(m => [m]);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 140,
        "wires": [["gauge_temp", "gauge_hum", "gauge_press", "chart_temp"]]
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "tab_sensor",
        "name": "온도 게이지",
        "group": "grp_sensor01",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 25,
        "seg2": 35,
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "gauge_hum",
        "type": "ui_gauge",
        "z": "tab_sensor",
        "name": "습도 게이지",
        "group": "grp_sensor01",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 60,
        "seg2": 80,
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "gauge_press",
        "type": "ui_gauge",
        "z": "tab_sensor",
        "name": "기압 게이지",
        "group": "grp_sensor01",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Pressure (hPa)",
        "label": "hPa",
        "format": "{{value}}",
        "min": 950,
        "max": 1060,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 990,
        "seg2": 1040,
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "z": "tab_sensor",
        "name": "온도 추이 차트",
        "group": "grp_chart",
        "order": 4,
        "width": 12,
        "height": 6,
        "label": "센서 온도 추이",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "데이터 없음",
        "dot": false,
        "ymin": "10",
        "ymax": "45",
        "removeOlder": 1,
        "removeOlderPoints": 100,
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#ff7f0e", "#2ca02c"],
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "mysql_config",
        "type": "MySQLdatabase",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "sensor_db",
        "tz": "",
        "name": "sensor_db"
    },
    {
        "id": "mysql_inject_sql",
        "type": "inject",
        "z": "tab_sensor",
        "name": "SQL 설정",
        "props": [
            {
                "p": "topic",
                "v": "SELECT sensor_id, temperature, humidity, pressure, timestamp FROM sensor_data ORDER BY timestamp DESC LIMIT 30",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 180,
        "wires": [["mysql_query"]]
    },
    {
        "id": "grp_sensor01",
        "type": "ui_group",
        "name": "센서 현재값",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_chart",
        "type": "ui_group",
        "name": "시계열 차트",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Sensor Monitor",
        "icon": "dashboard",
        "order": 1,
        "disp": true
    }
]
